* {
  margin: 0;
  border: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: rgba(255, 255, 255, 1)
    url(static/images/01d45d34-2734-4522-8863-d4a7c92f2007.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transform-origin: 0px 0px;
  filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%)
    opacity(100%) grayscale(0%);
}
.container::-webkit-scrollbar {
  display: none;
}
#item8cf93dff-aad6-4681-b989-8eb558618f3a {
  overflow: hidden;
  position: absolute;
  left: 1396.31px;
  top: 20px;
  width: 92px;
  height: 80px;
  z-index: 21;
  transform: rotate(0deg);
}
#item69acdbf5-fa50-4ddb-8ff3-1942a16ebf37 {
  overflow: hidden;
  position: absolute;
  left: 576.93px;
  top: 129.23px;
  width: 984.6px;
  height: 591.69px;
  z-index: 20;
  transform: rotate(0deg);
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#itemff905e5a-7542-4c19-a30b-6da484889689 {
  overflow: hidden;
  position: absolute;
  left: 1608px;
  top: 170px;
  width: 240px;
  height: 158px;
  z-index: 19;
  transform: rotate(0deg);
  border: 3px solid rgba(45, 235, 216, 1);
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#item4e713cc7-f483-42ad-a518-f66f97b39b3d {
  overflow: hidden;
  position: absolute;
  left: 1608px;
  top: 483px;
  width: 240px;
  height: 158px;
  z-index: 18;
  transform: rotate(0deg);
  border: 3px solid rgba(239, 222, 29, 1);
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#itemad2e5c08-ba0f-4936-996b-f0ccae376541 {
  overflow: hidden;
  position: absolute;
  left: 1405px;
  top: 778px;
  width: 163px;
  height: 268.24px;
  z-index: 17;
  transform: rotate(0deg);
}
#item338456ef-ab5a-4faf-80c0-06a8f55a649d {
  overflow: hidden;
  position: absolute;
  left: 1240px;
  top: 780px;
  width: 163px;
  height: 268.24px;
  z-index: 16;
  transform: rotate(0deg);
}
#item7357d36c-e5ee-40e0-9cb1-1788367de719 {
  overflow: hidden;
  position: absolute;
  left: 1075px;
  top: 778px;
  width: 163px;
  height: 268.24px;
  z-index: 15;
  transform: rotate(0deg);
}
#itemb199ca00-13ec-40a4-ad22-832dfd2ea314 {
  overflow: hidden;
  position: absolute;
  left: 1570px;
  top: 778px;
  width: 163px;
  height: 268.24px;
  z-index: 14;
  transform: rotate(0deg);
}
#item3771ccf2-9063-430c-8bea-44b61ba5df67 {
  overflow: hidden;
  position: absolute;
  left: 910px;
  top: 778px;
  width: 163px;
  height: 264.24px;
  z-index: 13;
  transform: rotate(0deg);
}
#item0d803c66-abe1-4317-b773-dc4289f8fce2 {
  overflow: hidden;
  position: absolute;
  left: 580px;
  top: 778px;
  width: 163px;
  height: 264.24px;
  z-index: 12;
  transform: rotate(0deg);
}
#item096d35a0-8dcd-4b17-a567-ca0d96a7fbef {
  overflow: hidden;
  position: absolute;
  left: 1735px;
  top: 778px;
  width: 163px;
  height: 268.24px;
  z-index: 11;
  transform: rotate(0deg);
}
#itemcc9420e4-f816-49bc-9e1c-67984997bda6 {
  overflow: hidden;
  position: absolute;
  left: 745px;
  top: 781.53px;
  width: 163px;
  height: 264.24px;
  z-index: 10;
  transform: rotate(0deg);
}
#item5d830970-92d9-11ec-ac30-f54ed32fd6a3 {
  overflow: hidden;
  position: absolute;
  left: 179.99px;
  top: 1154.67px;
  width: 466.66px;
  height: 538.99px;
  z-index: 9;
  display: none;
  transform: rotate(0deg);
}
#item93135f20-1003-11ed-baf3-5f69eca55638 {
  overflow: hidden;
  position: absolute;
  left: 1683.16px;
  top: 649.58px;
  width: 97.5px;
  height: 50px;
  z-index: 8;
  transform: rotate(0deg);
}
#item636e2c90-74ff-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 100px;
  z-index: 7;
  transform: rotate(0deg);
}
#item53f09140-74ff-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 96px;
  top: 35px;
  width: 322px;
  height: 50px;
  z-index: 8;
  transform: rotate(0deg);
}
#item67dfb2a7-05b3-4c1a-863c-72e8c9af8184 {
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 12.71px;
  width: 200px;
  height: 60px;
  z-index: 7;
  transform: rotate(0deg);
}
#itemfdb138dc-a109-458c-bc48-f73d5cbc9745 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 100px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemcbfec770-74fe-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 1278.57px;
  top: 25.72px;
  width: 588.57px;
  height: 60px;
  z-index: 6;
  transform: rotate(0deg);
}
#itema2662960-7451-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 1574.16px;
  top: 430.04px;
  width: 311.25px;
  height: 311px;
  z-index: 5;
  transform: rotate(0deg);
}
#item7806a148-85d4-4ccd-a4fe-534f26b9c262 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 311.25px;
  height: 311px;
  z-index: 1;
  transform: rotate(0deg);
}
#item9f194850-7451-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 1571.16px;
  top: 124.29px;
  width: 313.75px;
  height: 307.25px;
  z-index: 4;
  transform: rotate(0deg);
}
#item68e417e0-74ee-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 112px;
  top: 232.98px;
  width: 97.5px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemab51f8f4-7a3b-49d6-88ef-95e4410934c9 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 313.75px;
  height: 307.25px;
  z-index: 1;
  transform: rotate(0deg);
}
#item8854a6d0-7444-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 519.29px;
  top: 741.54px;
  width: 1397.51px;
  height: 327px;
  z-index: 3;
  transform: rotate(0deg);
}
#item8de8acf0-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 7.29px;
  width: 1375.82px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemeb7f6a70-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 1119.26px;
  top: 13.91px;
  width: 203.29px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#iteme1631140-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 826.91px;
  top: 15.45px;
  width: 293px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemd3f67ba0-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 535.37px;
  top: 15.22px;
  width: 293px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#item8de8acf1-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#item8de8acf2-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 242.04px;
  top: 15.32px;
  width: 293px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#item03ba64c5-0eb3-4c85-892a-699fddff22c2 {
  overflow: hidden;
  position: absolute;
  left: 25.38px;
  top: 0px;
  width: 1372.13px;
  height: 327px;
  z-index: 1;
  transform: rotate(0deg);
}
#item8b26fd80-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: -20.85px;
  top: 120.7px;
  width: 593.33px;
  height: 948px;
  z-index: 2;
  transform: rotate(0deg);
}
#item050e2e10-1f55-11ed-8fb3-7d1231968826 {
  overflow: hidden;
  position: absolute;
  left: 495px;
  top: 610px;
  width: 83.33px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item02a031d0-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 253.33px;
  top: 440.96px;
  width: 340px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item02a031d1-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 248.33px;
  top: 537.63px;
  width: 340px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item02a031d2-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 256.67px;
  top: 610px;
  width: 246.66px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item45aceaf0-0fde-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 51.67px;
  top: 578.33px;
  width: 246.66px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item44bb37f0-0fde-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 490.96px;
  width: 340px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item865df2a7-2aa0-439e-8e22-8eb3286c87d8 {
  overflow: hidden;
  position: absolute;
  left: 70px;
  top: 394.3px;
  width: 340px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#itemf2b865f0-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 35.94px;
  top: 646.21px;
  width: 535.04px;
  height: 50px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemf2b865f1-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 535.04px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemf2b865f2-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 50px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemf2b865f3-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 180px;
  top: 15.32px;
  width: 351px;
  height: 10px;
  z-index: 1;
  transform: rotate(0deg);
}
#itemefc42c30-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 317.36px;
  width: 562.41px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemefc42c31-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 562.41px;
  height: 50px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemefc42c32-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemefc42c33-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 269.41px;
  top: 15.32px;
  width: 293px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemea836a60-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 2.56px;
  top: 12.5px;
  width: 580px;
  height: 901.67px;
  z-index: 2;
  transform: rotate(0deg);
}
#item70b86610-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 755px;
  width: 480px;
  height: 75px;
  z-index: 4;
  transform: rotate(0deg);
}
#item70b86611-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 675px;
  width: 480px;
  height: 75px;
  z-index: 3;
  transform: rotate(0deg);
}
#item70b86612-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 835px;
  width: 480px;
  height: 75px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemd7887720-0fdc-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 140px;
  width: 480px;
  height: 75px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemfd546be0-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 60px;
  width: 480px;
  height: 75px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemd25a52f0-0fdc-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 80px;
  top: 220px;
  width: 480px;
  height: 75px;
  z-index: 2;
  transform: rotate(0deg);
}
#iteme85c1300-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 553.99px;
  height: 50px;
  z-index: 1;
  transform: rotate(0deg);
}
#itema61b51e0-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#item1798bc71-1c73-4777-ba06-0a9ae2004bf1 {
  overflow: hidden;
  position: absolute;
  left: 200px;
  top: 15.32px;
  width: 350px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemda89986b-47dc-4287-a774-a9ffb6461ff3 {
  overflow: hidden;
  position: absolute;
  left: 53.51px;
  top: 0px;
  width: 532px;
  height: 948px;
  z-index: 1;
  transform: rotate(0deg);
}
#item75409e50-7444-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 497.98px;
  top: 125.03px;
  width: 1073.62px;
  height: 615.49px;
  z-index: 1;
  transform: rotate(0deg);
}
#itemaae92740-f536-46f5-aff0-e7178773154a {
  overflow: hidden;
  position: absolute;
  left: 70.02px;
  top: 0px;
  width: 1003.6px;
  height: 615.49px;
  z-index: 1;
  transform: rotate(0deg);
}
