* {
  margin: 0;
  border: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: rgba(255, 255, 255, 1)
    url(./static/images/e34b1730-5e17-4ed3-b5a4-69270bda7eab.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transform-origin: 0px 0px;
  filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%)
    opacity(100%) grayscale(0%);
}
.container::-webkit-scrollbar {
  display: none;
}
#item2423e4e0-c214-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: 574.15px;
  top: 128.06px;
  width: 972.17px;
  height: 588.15px;
  z-index: 5;
  transform: rotate(0deg);
}
#item92f35800-c210-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: 0.33px;
  top: 0px;
  width: 968.25px;
  height: 280.98px;
  z-index: 4;
  transform: rotate(0deg);
  background: rgba(102, 187, 106, 0.5);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#item865df2a7-2aa0-439e-8e22-8eb3286c87d8 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 75px;
  width: 556.75px;
  height: 55px;
  z-index: 11;
  transform: rotate(0deg);
}
#item02a031d0-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 411.5px;
  top: 75px;
  width: 556.75px;
  height: 50px;
  z-index: 10;
  transform: rotate(0deg);
}
#item44bb37f0-0fde-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 19.6px;
  top: 150px;
  width: 556.75px;
  height: 50px;
  z-index: 9;
  transform: rotate(0deg);
}
#item02a031d1-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 411.5px;
  top: 150px;
  width: 556.75px;
  height: 50px;
  z-index: 8;
  transform: rotate(0deg);
}
#item45aceaf0-0fde-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 29.39px;
  top: 225px;
  width: 403.9px;
  height: 56.67px;
  z-index: 7;
  transform: rotate(0deg);
}
#item02a031d2-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 477.13px;
  top: 225px;
  width: 403.91px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item050e2e10-1f55-11ed-8fb3-7d1231968826 {
  overflow: hidden;
  position: absolute;
  left: 803.71px;
  top: 225px;
  width: 136.45px;
  height: 50px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemefc42c30-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 17.64px;
  top: 0px;
  width: 920.95px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemefc42c32-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemefc42c33-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 269.41px;
  top: 15.32px;
  width: 293px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#iteme5bff020-c210-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: 542.61px;
  top: 288.15px;
  width: 428px;
  height: 300px;
  z-index: 3;
  transform: rotate(0deg);
  background: rgba(171, 71, 188, 0.39);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#itemf2b865f0-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 416.88px;
  height: 52.71px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemf2b865f2-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 50px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemf2b865f3-7441-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 180px;
  top: 15.32px;
  width: 351px;
  height: 10px;
  z-index: 1;
  transform: rotate(0deg);
}
#item70b86611-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 1.02px;
  top: 43.53px;
  width: 429.52px;
  height: 79.07px;
  z-index: 3;
  transform: rotate(0deg);
}
#item70b86610-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 1.02px;
  top: 127.87px;
  width: 429.52px;
  height: 79.07px;
  z-index: 2;
  transform: rotate(0deg);
}
#item70b86612-0fdf-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 1.02px;
  top: 212.22px;
  width: 429.52px;
  height: 79.07px;
  z-index: 1;
  transform: rotate(0deg);
}
#item18284bc0-c211-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 286.81px;
  width: 530.01px;
  height: 300px;
  z-index: 2;
  transform: rotate(0deg);
  background: rgba(171, 71, 188, 0.35);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#itemfd546be0-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0.89px;
  top: 58.33px;
  width: 517px;
  height: 75px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemd7887720-0fdc-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 0.89px;
  top: 138.33px;
  width: 517px;
  height: 75px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemd25a52f0-0fdc-11ed-974d-45441e89ec16 {
  overflow: hidden;
  position: absolute;
  left: 0.89px;
  top: 218.33px;
  width: 517px;
  height: 75px;
  z-index: 2;
  transform: rotate(0deg);
}
#iteme85c1300-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 530.01px;
  height: 50px;
  z-index: 1;
  transform: rotate(0deg);
}
#itema61b51e0-7440-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 210px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#item1798bc71-1c73-4777-ba06-0a9ae2004bf1 {
  overflow: hidden;
  position: absolute;
  left: 246.67px;
  top: 13.65px;
  width: 350px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#item844c34a0-c212-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: 32.76px;
  top: 743.33px;
  width: 1873.9px;
  height: 325px;
  z-index: 4;
  transform: rotate(0deg);
  border-radius: 10px;
}
#item20927d90-c210-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 5.5px;
  width: 1844.62px;
  height: 310.45px;
  z-index: 2;
  transform: rotate(0deg);
}
#item0d803c66-abe1-4317-b773-dc4289f8fce2 {
  overflow: hidden;
  position: absolute;
  left: 29.61px;
  top: 27.63px;
  width: 170px;
  height: 264.24px;
  z-index: 11;
  transform: rotate(0deg);
}
#itemcc9420e4-f816-49bc-9e1c-67984997bda6 {
  overflow: hidden;
  position: absolute;
  left: 209.62px;
  top: 31.16px;
  width: 170px;
  height: 264.24px;
  z-index: 10;
  transform: rotate(0deg);
}
#item3771ccf2-9063-430c-8bea-44b61ba5df67 {
  overflow: hidden;
  position: absolute;
  left: 389.62px;
  top: 27.63px;
  width: 170px;
  height: 264.24px;
  z-index: 9;
  transform: rotate(0deg);
}
#item7357d36c-e5ee-40e0-9cb1-1788367de719 {
  overflow: hidden;
  position: absolute;
  left: 569.62px;
  top: 27.63px;
  width: 170px;
  height: 268.24px;
  z-index: 8;
  transform: rotate(0deg);
}
#item338456ef-ab5a-4faf-80c0-06a8f55a649d {
  overflow: hidden;
  position: absolute;
  left: 749.62px;
  top: 29.63px;
  width: 170px;
  height: 268.24px;
  z-index: 7;
  transform: rotate(0deg);
}
#itemad2e5c08-ba0f-4936-996b-f0ccae376541 {
  overflow: hidden;
  position: absolute;
  left: 929.62px;
  top: 27.63px;
  width: 170px;
  height: 268.24px;
  z-index: 6;
  transform: rotate(0deg);
}
#itemb199ca00-13ec-40a4-ad22-832dfd2ea314 {
  overflow: hidden;
  position: absolute;
  left: 1109.62px;
  top: 27.63px;
  width: 185px;
  height: 268.24px;
  z-index: 5;
  transform: rotate(0deg);
}
#item096d35a0-8dcd-4b17-a567-ca0d96a7fbef {
  overflow: hidden;
  position: absolute;
  left: 1305px;
  top: 27.63px;
  width: 185px;
  height: 268.24px;
  z-index: 4;
  transform: rotate(0deg);
}
#iteme890dbe0-e5fc-4961-b17c-e687d32f42d2 {
  overflow: hidden;
  position: absolute;
  left: 1500px;
  top: 9.63px;
  width: 180px;
  height: 293.33px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemabb8ce3c-e98d-4944-8aee-f9e66ceffec2 {
  overflow: hidden;
  position: absolute;
  left: 1690px;
  top: 9.62px;
  width: 170px;
  height: 300.83px;
  z-index: 2;
  transform: rotate(0deg);
}
#item8854a6d0-7444-11ec-b9a4-a304abb9328e {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1322.55px;
  height: 50px;
  z-index: 1;
  transform: rotate(0deg);
}
#item8de8acf0-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1322.55px;
  height: 50px;
  z-index: 3;
  transform: rotate(0deg);
}
#item8de8acf1-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 241.25px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#item8de8acf2-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 242.04px;
  top: 15.32px;
  width: 293px;
  height: 10px;
  z-index: 4;
  transform: rotate(0deg);
}
#itemd3f67ba0-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 535.37px;
  top: 15.22px;
  width: 293px;
  height: 10px;
  z-index: 3;
  transform: rotate(0deg);
}
#iteme1631140-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 826.91px;
  top: 15.45px;
  width: 293px;
  height: 10px;
  z-index: 2;
  transform: rotate(0deg);
}
#itemeb7f6a70-74ed-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 1119.26px;
  top: 13.91px;
  width: 203.29px;
  height: 10px;
  z-index: 1;
  transform: rotate(0deg);
}
#itemd81c4eb3-c8ec-4d5c-a7c6-f26fbaa371ba {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1873.9px;
  height: 325px;
  z-index: 1;
  transform: rotate(0deg);
  border-radius: 10px;
}
#item769e9cb0-c336-11ed-bdff-fd5d646b6f2b {
  overflow: hidden;
  position: absolute;
  left: 1551.25px;
  top: 88.3px;
  width: 360.34px;
  height: 645.46px;
  z-index: 3;
  transform: rotate(0deg);
}
#item48b2912c-cad8-4fb1-9b5f-270761708f7b {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 367.95px;
  width: 358.75px;
  height: 277.5px;
  z-index: 6;
  transform: rotate(0deg);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#itemdf3bbc80-488c-435c-8b56-a266c853b3e6 {
  overflow: hidden;
  position: absolute;
  left: 2.15px;
  top: 0px;
  width: 358.19px;
  height: 361.93px;
  z-index: 5;
  transform: rotate(0deg);
  background: rgba(249, 223, 136, 0.54);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#item478faca0-c333-11ed-bdff-fd5d646b6f2b {
  overflow: hidden;
  position: absolute;
  left: 30.26px;
  top: 104.61px;
  width: 525.13px;
  height: 625.39px;
  z-index: 2;
  transform: rotate(0deg);
}
#itema8952a08-3d86-4314-9968-181daaeda5bd {
  overflow: hidden;
  position: absolute;
  left: 0.51px;
  top: 373.85px;
  width: 518.46px;
  height: 251.54px;
  z-index: 2;
  transform: rotate(0deg);
  background: rgba(239, 83, 79, 0.6);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#itemee1cc56b-3af3-46e8-a3b0-05019ea44cf3 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 525.13px;
  height: 360.54px;
  z-index: 1;
  transform: rotate(0deg);
  background: rgba(245, 198, 42, 0.6);
  border-radius: 10px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
#item103e9af0-c21a-11ed-a00d-9323ac0f6c14 {
  overflow: hidden;
  position: absolute;
  left: -312.29px;
  top: -168.77px;
  width: 2601.99px;
  height: 1466.33px;
  z-index: 1;
  transform: rotate(0deg);
}
#item53f09140-74ff-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 408.29px;
  top: 203.77px;
  width: 322px;
  height: 50px;
  z-index: 5;
  transform: rotate(0deg);
}
#itemcbfec770-74fe-11ec-9a45-85cd06378d51 {
  overflow: hidden;
  position: absolute;
  left: 1590.86px;
  top: 194.49px;
  width: 588.57px;
  height: 60px;
  z-index: 4;
  transform: rotate(0deg);
}
#item67dfb2a7-05b3-4c1a-863c-72e8c9af8184 {
  overflow: hidden;
  position: absolute;
  left: 327.29px;
  top: 181.48px;
  width: 200px;
  height: 60px;
  z-index: 3;
  transform: rotate(0deg);
}
#itemfdb138dc-a109-458c-bc48-f73d5cbc9745 {
  overflow: hidden;
  position: absolute;
  left: 312.29px;
  top: 168.77px;
  width: 1920px;
  height: 100px;
  z-index: 1;
  transform: rotate(0deg);
}
#item69acdbf5-fa50-4ddb-8ff3-1942a16ebf37 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2601.99px;
  height: 1466.33px;
  z-index: 2;
  transform: rotate(0deg);
  border-radius: 20px;
  boxshadow: 3px 2px 10px 5px rgba(132, 132, 132, 1);
}
