<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fubukianime.dao.AnimePeriodDao">

    <resultMap id="BaseResultMap" type="com.fubukianime.domain.AnimePeriod">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="spid" column="spid" jdbcType="INTEGER"/>
        <result property="periodName" column="period_name" jdbcType="DOUBLE"/>
        <result property="completeAmount" column="complete_amount" jdbcType="VARCHAR"/>
        <result property="bingeWatchingAmount" column="binge_watching_amount" jdbcType="VARCHAR"/>
        <result property="period" column="period" jdbcType="DATE"/>
        <result property="sp" column="sp" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--新增时期点-->
    <insert id="addPeriod">
        insert into anime_period(spid, period_name, binge_watching_amount_id, complete_amount_id, period, sp, deleted)
        values ((select c.spid from (select max(b.spid) spid from anime_period b where sp = #{sp} and deleted = 0) c) +
                1, #{periodName},
                (select id
                 from anime_main d
                 where d.binge_watching_id = (select c.bwid
                                              from (select max(b.binge_watching_id) bwid
                                                    from anime_main b
                                                    where deleted = 0) c)),
                (select id
                 from anime_main d
                 where d.complete_id =
                       (select c.cid from (select max(b.complete_id) cid from anime_main b where deleted = 0) c)),
                CURDATE(), #{sp}, 0)
    </insert>

    <!--查询普通时期点-->
    <select id="selectComPeriod" resultType="com.fubukianime.domain.AnimePeriod">
        /*总查询，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、期间补番数、期间追番数、较上期补番数率、较上期追番数率、
          期间日补番数、期间日追番数、格式化时期点、时期点、时期点日数、较上期日补番数率、较上期日追番数率、时期补番评分、时期追番评分*/
        select T0.id                              id,
               T0.spid                            spid,
               T0.period_name                     periodName,
               T0.complete_amount                 completeAmount,
               T0.binge_watching_amount           bingeWatchingAmount,
               T0.re_complete_amount              reCompleteAmount,
               T0.sp                              sp,
               T0.deleted                         deleted,
               T0.c                               periodComplete,
               T0.d                               periodBingeWatching,
               T0.h                               comparePeriodComplete,
               T0.i                               comparePeriodBingeWatching,
               FORMAT(T0.f, 3)                    averageDailyComplete,
               FORMAT(T0.g, 3)                    averageDailyBingeWatching,
               date_format(T0.period, '%Y-%m-%d') periods,
               T0.period                          period,
               T0.e                               days,
               T0.j                               comparePeriodAverageDailyComplete,
               T0.k                               comparePeriodAverageDailyBingeWatching,
               round(avg(T3.score), 2)            averageScoreBingeWatching
                ,
               round(avg(T2.score), 2)            averageScoreComplete
        from (
      /*查询为T0，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、期间补番数、期间追番数、时期点日数、上期补番数、上期追番数、较上期补番数率、较上期追番数率、期间日补番数、期间日追番数、较上期日补番数率、较上期日追番数率*/
      select T1.id
           , T1.spid
           , T1.period_name
           , T1.complete_amount
           , T1.binge_watching_amount
           , T1.re_complete_amount
           , T1.period
           , T1.sp
           , T1.deleted
           , T1.c
           , T1.d
           , T1.e
           , T1.x
           , T1.y
           , T1.h
           , T1.i
           , T1.f
           , T1.g
           , concat(truncate((T1.f - T4.f) / T4.f * 100, 2), '%') j
           , concat(truncate((T1.g - T4.g) / T4.g * 100, 2), '%') k

      from (/*查询为T1，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、期间补番数、期间追番数、时期点日数、上期补番数、上期追番数、较上期补番数率、较上期追番数率、期间日补番数、期间日追番数*/
            select t1.id
                 , t1.spid
                 , t1.period_name
                 , t1.complete_amount
                 , t1.binge_watching_amount
                 , t1.re_complete_amount
                 , t1.period
                 , t1.sp
                 , t1.deleted
                 , t1.c
                 , t1.d
                 , t1.e
                 , t1.x
                 , t1.y
                 , concat(truncate((t1.c - t2.c) / t2.c * 100, 2), '%') h
                 , concat(truncate((t1.d - t2.d) / t2.d * 100, 2), '%') i
                 , ifnull(t1.c / t1.e, 0)                               f
                 , ifnull(t1.d / t1.e, 0)                               g

            from (/*查询为t1，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、上期补番数、上期追番数、期间补番数、期间追番数、时期点日数*/
                  select A.id,
                         A.spid,
                         A.period_name,
                         A.complete_amount,
                         A.binge_watching_amount,
                         A.re_complete_amount,
                         A.period,
                         A.sp,
                         A.deleted,
                         ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as x,
                         ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as y,
                         A.complete_amount -
                         ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as c,
                         A.binge_watching_amount -
                         ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as d,
                         (datediff(A.period, P.period))                                                      as e
                  from (/*查询为A，普通时期点每时期id、spid、补番数、追番数、实际补番数、时期点、名称*/
                      (select p.id,
                                p.spid,
                                a.complete_id       complete_amount,
                                b.binge_watching_id binge_watching_amount,
                                (select count(distinct (c.score)) from anime_main c where c.complete_id &lt;= a.complete_id) re_complete_amount,
                                p.period,
                                p.period_name,
                                p.sp,
                                p.deleted
                         from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                  left join anime_main b on b.id = p.binge_watching_amount_id
                         where sp = 0
                           and p.deleted = 0
                           and a.deleted = 0
                           and b.deleted = 0)) A
                           left join
                       (/*查询为P，普通时期点每时期id、spid、补番数、追番数、时期点 用作上期对比*/
                           (select p.id,
                                p.spid              spid,
                                a.complete_id       complete_amount,
                                b.binge_watching_id binge_watching_amount,
                                p.period
                         from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                  left join anime_main b on b.id = p.binge_watching_amount_id
                         where sp = 0
                           and p.deleted = 0
                           and a.deleted = 0
                           and b.deleted = 0)) P on P.spid = A.spid - 1) t1,

                 /*查询为t2，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、上期补番数、上期追番数、期间补番数、期间追番数、时期点日数 用作比率计算*/
                 (select A.id,
                         A.spid,
                         A.period_name,
                         A.complete_amount,
                         A.binge_watching_amount,
                         A.re_complete_amount,
                         A.period,
                         A.sp,
                         A.deleted,
                         ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as x,
                         ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as y,
                         A.complete_amount -
                         ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as c,
                         A.binge_watching_amount -
                         ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as d,
                         (datediff(A.period, P.period))                                                      as e
                  from (/*查询为A，普通时期点每时期id、spid、补番数、追番数、实际补番数、时期点、名称*/
                      (select p.id,
                                p.spid,
                                a.complete_id       complete_amount,
                                b.binge_watching_id binge_watching_amount,
                                (select count(distinct (c.score)) from anime_main c where c.complete_id &lt;= a.complete_id) re_complete_amount,
                                p.period,
                                p.period_name,
                                p.sp,
                                p.deleted
                         from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                  left join anime_main b on b.id = p.binge_watching_amount_id
                         where sp = 0
                           and p.deleted = 0
                           and a.deleted = 0
                           and b.deleted = 0)) A
                           left join
                       (/*查询为P，普通时期点每时期id、spid、补番数、追番数、时期点用作上期对比*/
                           (select p.id,
                                p.spid              spid,
                                a.complete_id       complete_amount,
                                b.binge_watching_id binge_watching_amount,
                                p.period
                         from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                  left join anime_main b on b.id = p.binge_watching_amount_id
                         where sp = 0
                           and p.deleted = 0
                           and a.deleted = 0
                           and b.deleted = 0)) P on P.spid = A.spid - 1) t2

            where t1.spid = 1 and t2.spid = 1
               or t2.spid = t1.spid - 1
            ORDER BY t1.spid) T1,


           (/*查询为T4，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、期间补番数、期间追番数、时期点日数、上期补番数、上期追番数、较上期补番数率、较上期追番数率、期间日补番数、期间日追番数 用作比率计算*/
            select t1.id
                 , t1.spid
                 , t1.period_name
                 , t1.complete_amount
                 , t1.binge_watching_amount
                 , t1.re_complete_amount
                 , t1.period
                 , t1.sp
                 , t1.deleted
                 , t1.c
                 , t1.d
                 , t1.e
                 , t1.x
                 , t1.y
                 , concat(truncate((t1.c - t2.c) / t2.c * 100, 2), '%') h
                 , concat(truncate((t1.d - t2.d) / t2.d * 100, 2), '%') i
                 , ifnull(t1.c / t1.e, 0)                               f
                 , ifnull(t1.d / t1.e, 0)                               g

            from (/*查询为t1，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、上期补番数、上期追番数、期间补番数、期间追番数、时期点日数*/
                     select A.id,
                            A.spid,
                            A.period_name,
                            A.complete_amount,
                            A.binge_watching_amount,
                            A.re_complete_amount,
                            A.period,
                            A.sp,
                            A.deleted,
                            ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as x,
                            ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as y,
                            A.complete_amount -
                            ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as c,
                            A.binge_watching_amount -
                            ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as d,
                            (datediff(A.period, P.period))                                                      as e
                     from (/*查询为A，普通时期点每时期id、spid、补番数、追番数、实际补番数、时期点、名称*/
                              (select p.id,
                                      p.spid,
                                      a.complete_id       complete_amount,
                                      b.binge_watching_id binge_watching_amount,
                                      (select count(distinct (c.score)) from anime_main c where c.complete_id &lt;= a.complete_id) re_complete_amount,
                                      p.period,
                                      p.period_name,
                                      p.sp,
                                      p.deleted
                               from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                        left join anime_main b on b.id = p.binge_watching_amount_id
                               where sp = 0
                                 and p.deleted = 0
                                 and a.deleted = 0
                                 and b.deleted = 0)) A
                              left join
                          (/*查询为P，普通时期点每时期id、spid、补番数、追番数、时期点 用作上期对比*/
                              (select p.id,
                                      p.spid              spid,
                                      a.complete_id       complete_amount,
                                      b.binge_watching_id binge_watching_amount,
                                      p.period
                               from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                        left join anime_main b on b.id = p.binge_watching_amount_id
                               where sp = 0
                                 and p.deleted = 0
                                 and a.deleted = 0
                                 and b.deleted = 0)) P on P.spid = A.spid - 1) t1,

                 /*查询为t2，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、上期补番数、上期追番数、期间补番数、期间追番数、时期点日数 用作比率计算*/
                 (select A.id,
                         A.spid,
                         A.period_name,
                         A.complete_amount,
                         A.binge_watching_amount,
                         A.re_complete_amount,
                         A.period,
                         A.sp,
                         A.deleted,
                         ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as x,
                         ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as y,
                         A.complete_amount -
                         ifnull((select P.complete_amount where P.spid = A.spid - 1), 0)                     as c,
                         A.binge_watching_amount -
                         ifnull((select P.binge_watching_amount where P.spid = A.spid - 1), 0)               as d,
                         (datediff(A.period, P.period))                                                      as e
                  from (/*查询为A，普通时期点每时期id、spid、补番数、追番数、实际补番数、时期点、名称*/
                           (select p.id,
                                   p.spid,
                                   a.complete_id       complete_amount,
                                   b.binge_watching_id binge_watching_amount,
                                   (select count(distinct (c.score)) from anime_main c where c.complete_id &lt;= a.complete_id) re_complete_amount,
                                   p.period,
                                   p.period_name,
                                   p.sp,
                                   p.deleted
                            from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                     left join anime_main b on b.id = p.binge_watching_amount_id
                            where sp = 0
                              and p.deleted = 0
                              and a.deleted = 0
                              and b.deleted = 0)) A
                           left join
                       (/*查询为P，普通时期点每时期id、spid、补番数、追番数、时期点用作上期对比*/
                           (select p.id,
                                   p.spid              spid,
                                   a.complete_id       complete_amount,
                                   b.binge_watching_id binge_watching_amount,
                                   p.period
                            from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                     left join anime_main b on b.id = p.binge_watching_amount_id
                            where sp = 0
                              and p.deleted = 0
                              and a.deleted = 0
                              and b.deleted = 0)) P on P.spid = A.spid - 1) t2

            where t1.spid = 1 and t2.spid = 1
               or t2.spid = t1.spid - 1
            ORDER BY t1.spid) T4


      where T1.spid = 1 AND T4.spid = 1
         OR T4.spid = T1.spid - 1
      ORDER BY T1.spid) T0,

             anime_main T2,

             anime_main T3
        where T2.complete_id &gt; T0.x
          and T2.complete_id &lt;= T0.complete_amount
          and T3.binge_watching_id &gt; T0.y
          and T3.binge_watching_id &lt;= T0.binge_watching_amount

        group by T0.spid
        order by T0.spid;


    </select>

    <!--查询特殊时期点-->
    <select id="selectSPPeriod" resultType="com.fubukianime.domain.AnimePeriod">
        /* 总查询，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、期间补番数、期间追番数、
   期间日补番数、期间日追番数、格式化时期点、时期点、时期点日数、时期补番评分、时期追番评分*/
        select T0.id                              id,
               T0.spid                            spid,
               T0.period_name                     periodName,
               T0.complete_amount                 completeAmount,
               T0.binge_watching_amount           bingeWatchingAmount,
               T0.re_complete_amount              reCompleteAmount,
               T0.sp                              sp,
               T0.deleted                         deleted,
               T0.c                               periodComplete,
               T0.d                               periodBingeWatching,
               FORMAT(T0.f, 3)                    averageDailyComplete,
               FORMAT(T0.g, 3)                    averageDailyBingeWatching,
               date_format(T0.period, '%Y-%m-%d') periods,
               T0.period                          period,
               T0.e                               days,
               round(avg(T3.score), 2)            averageScoreBingeWatching,
               round(avg(T2.score), 2)            averageScoreComplete
        from (/*查询为T0，普通时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、期间补番数、期间追番数、时期点日数、期间日补番数、期间日追番数*/
                 select T1.id
                      , T1.spid
                      , T1.period_name
                      , T1.complete_amount
                      , T1.binge_watching_amount
                      , T1.re_complete_amount
                      , T1.period
                      , T1.sp
                      , T1.deleted
                      , T1.c
                      , T1.d
                      , T1.e
                      , T1.f
                      , T1.g

                 from (/*查询为T1，特殊时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、期间补番数、期间追番数、时期点日数、期间日补番数、期间日追番数*/
            select t1.id
                 , t1.spid
                 , t1.period_name
                 , t1.complete_amount
                 , t1.binge_watching_amount
                 , t1.re_complete_amount
                 , t1.period
                 , t1.sp
                 , t1.deleted
                 , t1.c
                 , t1.d
                 , t1.e

                 , ifnull(t1.c / t1.e, 0) f
                 , ifnull(t1.d / t1.e, 0) g

            from (/*查询为t1，特殊时期点每时期id、spid、名称、补番数、追番数、实际补番数、时期点、期间补番数、期间追番数、时期点日数*/
                  select A.id,
                         A.spid,
                         A.period_name,
                         A.complete_amount,
                         A.binge_watching_amount,
                         A.re_complete_amount,
                         A.period,
                         A.sp,
                         A.deleted,

                         (A.complete_amount - 8)                                               as c,
                         (A.binge_watching_amount - 8)                                         as d,
                         (datediff(A.period, '2017-11-03'))                                    as e
                  from (/*查询为A，特殊时期点每时期id、spid、补番数、追番数、实际补番数、时期点、名称*/
                      (select p.id,
                                p.spid,
                                a.complete_id       complete_amount,
                                b.binge_watching_id binge_watching_amount,
                                (select count(distinct (c.score)) from anime_main c where c.complete_id &lt;= a.complete_id) re_complete_amount,
                                p.period,
                                p.period_name,
                                p.sp,
                                p.deleted
                         from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                  left join anime_main b on b.id = p.binge_watching_amount_id
                         where sp = 1
                           and p.deleted = 0
                           and a.deleted = 0
                           and b.deleted = 0)) A
                           left join
                       (/*查询为P，特殊时期点每时期id、spid、补番数、追番数、时期点 用作上期对比*/
                           (select p.id,
                                p.spid              spid,
                                a.complete_id       complete_amount,
                                b.binge_watching_id binge_watching_amount,
                                p.period
                         from (anime_period p left join anime_main a on a.id = p.complete_amount_id)
                                  left join anime_main b on b.id = p.binge_watching_amount_id
                         where sp = 1
                           and p.deleted = 0
                           and a.deleted = 0
                           and b.deleted = 0)) P on P.spid = A.spid - 1) t1
            ORDER BY t1.spid) T1
                 ORDER BY T1.spid) T0,
             anime_main T2,
             anime_main T3
        where IF(spid = 1,
                 T2.complete_id &gt;= (select am.complete_id from anime_main am where id = 2)
                     and T2.complete_id &lt; (select am.complete_id from anime_main am where id = 3)
                     and T3.binge_watching_id &gt;= (select am.binge_watching_id from anime_main am where id = 2)
                     and T3.binge_watching_id &lt;= (select am.binge_watching_id from anime_main am where id = 3),
                 T2.complete_id &gt;= (select am.complete_id from anime_main am where id = 3)
                     and T2.complete_id &lt;= T0.complete_amount
                     and T3.binge_watching_id &gt;= (select am.complete_id from anime_main am where id = 3)
                     and T3.binge_watching_id &lt;= T0.binge_watching_amount)


        group by T0.spid
        order by T0.spid;

    </select>


</mapper>

