<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fubukianime.dao.AnimeTypesShowDao">

    <!--查询来源信息-->
    <select id="selectSourceShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        select T2.id, T2.source typesName, count(T1.source) typesNum
        from (select source_1 source
              from anime_main
              union all
              select source_2 source
              from anime_main
              union all
              select source_3 source
              from anime_main) T1
                 join anime_source T2 on T1.source = T2.id
        group by T1.source
        ORDER BY count(T1.source) DESC;
    </select>

    <!--查询类型信息-->
    <select id="selectTypeShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        select T2.id, T2.type typesName, count(T1.type) typesNum
        from (select type_1 type
              from anime_main
              union all
              select type_2 type
              from anime_main
              union all
              select type_3 type
              from anime_main) T1
                 join anime_type T2 on T1.type = T2.id
        group by T1.type
        order by count(T1.type) DESC;
    </select>

    <!--查询恋爱信息-->
    <select id="selectLoveShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        SELECT T2.id, T2.love typesName, count(T1.love) typesNum
        FROM anime_main T1
                 join anime_love T2 ON T1.love = T2.id
        GROUP BY T1.love
        ORDER BY count(T1.love) DESC;
    </select>

    <!--查询工口信息-->
    <select id="selectSexLimitShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        SELECT T2.id, T2.sex_limit typesName, count(T1.sex_limit) typesNum
        FROM anime_main T1
                 join anime_sexlimit T2 ON T1.sex_limit = T2.id
        GROUP BY T1.sex_limit
        ORDER BY count(T1.sex_limit) DESC;
    </select>

    <!--查询创作信息-->
    <select id="selectCreateShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        SELECT T2.id, T2.`create` typesName, count(T1.`create`) typesNum
        FROM anime_main T1
                 join anime_create T2 ON T1.`create` = T2.id
        GROUP BY T1.`create`
        ORDER BY count(T1.`create`) DESC;
    </select>

    <!--查询主角信息-->
    <select id="selectLeaderGenderShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        SELECT T2.id, T2.leader_gender typesName, count(T1.leader_gender) typesNum
        FROM anime_main T1
                 join anime_leadergender T2 ON T1.leader_gender = T2.id
        GROUP BY T1.leader_gender
        ORDER BY count(T1.leader_gender) DESC;
    </select>

    <!--查询动画结局信息-->
    <select id="selectAnimationEndShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        SELECT T2.id, T2.animation_end typesName, count(T1.animation_end) typesNum
        FROM anime_main T1
                 join anime_animationend T2 ON T1.animation_end = T2.id
        GROUP BY T1.animation_end
        ORDER BY count(T1.animation_end) DESC;

    </select>

    <!--查询原作结局信息-->
    <select id="selectOriginalEndShow" resultType="com.fubukianime.domain.AnimeTypesShow">
        SELECT T2.id, T2.original_end typesName, count(T1.original_end) typesNum
        FROM anime_main T1
                 join anime_originalend T2 ON T1.original_end = T2.id
        GROUP BY T1.original_end
        ORDER BY count(T1.original_end) DESC;
    </select>




</mapper>

