* {
  margin: 0;
  border: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  position: absolute;
  width: 2560px;
  height: 1440px;
  background: rgba(0, 0, 0, 0)
    url(./static/images/24411623-95d9-429f-be06-ee42bbc2c1b6.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transform-origin: 0px 0px;
  filter: hue-rotate(0deg) saturate(143%) brightness(105%) contrast(100%)
    opacity(100%) grayscale(0%);
}
.container::-webkit-scrollbar {
  display: none;
}
#item53a2c710-0fd9-11ed-8c3f-7d2eca730bf6 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 50px;
  width: 2560px;
  height: 1440px;
  z-index: 2;
  transform: rotate(0deg);
}
#item95c75143-7ad4-482d-bc74-70eef1977e3d {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2560px;
  height: 1440px;
  z-index: 1;
  transform: rotate(0deg);
}
